* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.car-container {
	width: 100%;
	height: 500px;
	overflow: hidden;
}



.carousel {
	position: relative;
	width: 100%;
	height: 100%;
  
}

.taget {
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
  
	
}

.arrows {
	display: flex;
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(104, 60, 187, 0);
	justify-content: space-between;
	align-items: center;
	padding: 10px;
  
  
}

.arrows  a {
	text-decoration: none;
  color: rgba(28, 119, 146, 0);
  padding: 23% 20px;
  transition: 1s;
	font-size: 2rem;
}


.arrows a:hover{
  color: rgba(93, 76, 153, 0.37);
}

.arrows a span{
  font-size: 3rem;
}

